/*Combinacion jerarquica*/
.menu li {
    list-style: none;
    display: inline-block;
    /*margin: 10px; /*Aplica a los 4 lados*/


    margin: 5px 15px;
    /*El primer numero aplica arriba y abajo, el segundo numero aplica derecha e izquierda*/

    /* margin: 10px 20px 30px 40px; /*Se toma los numeros en sentido horario para los lados del elemento
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 40px;
    */

    border: 3px double black;
    padding: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.menu {
    background: #128a6c;
    /*poner color a todo mi espacio y si uso color se pone al contenido del elemento*/
    padding: 5px 15px;
    text-align: center;
}

h1 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h2 {
    /*font: bold 14px sans-serif;   segunda forma*/

    font-family: fantasy;
    font-size: 20px;
}

body {
    text-align: center;
    background: rgb(31, 105, 89);
}

.agrupar {
    border: 1px solid black;
    background: #3accb4;
    width: 900px;
    margin: 20px auto;
}

.cabecera {
    background: rgb(168, 216, 186);
    border: 10px double #1d2725;
    padding: 20px;
}

.seccion {
    width: 600px;
    margin: 10px;
    float: left;
}

#idarticulo1, #idarticulo2 {
background: rgb(80, 223, 182);
border: 1px solid black;
padding: 20px;
}

article footer {
    text-align: right;
}

.referencias {
    width: 200px;
    float: right;
    margin: 30px 30px;
    padding-left: 2px;
}

.pie {
    /*pie de la pagina debe tener clear: both*/
    clear: both;
}

blockquote {
    border: 10px double black;
    padding: 5px;
    background: #6fd377;
    width: 150px;
}

img {
    width: 300px;
    height: 150px;
    margin: auto auto;
}



/*
.menu, li {
color:red;
}

li{
    background-color: black;
}
*/